@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterSB {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin transparentButton {
    background-color: transparent;
    border: none;
}