@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterSB {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin transparentButton {
    background-color: transparent;
    border: none;
}

@mixin borderedButton {
    background-color: #fff;
    border: 2px solid $primary;
    border-radius: 8px;
    color: $primary;
    padding: 4px 8px;
    transition: all 0.2s;

    &:hover {
        background-color: $primary;
        color: #fff;
    }
}

@mixin productsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;

    @media (max-width:1300px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width:1024px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width:768px) {
        grid-template-columns: 100%;
    }
}

@mixin baseLink {
    text-decoration: none;
    color: $font;
    cursor: pointer;
    transition: all 0.2s;
}

@mixin page {
    padding-top: 50px;
    padding-bottom: 50px;
}

@mixin baseButton {
    border: 1px solid $border;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 16px;
    color: $font;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s;

    display: inline-block;
    vertical-align: baseline;

    &:hover {
        color: #fff;
        background-color: $primary;
    }
}