$bg: #f8f8f8;
$dark-bg: #ebebeb;
$border: #f1f1f1;
$primary: #85b839;
$icons: #555;
$font: #333;
$accent: #ffb933;

$shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;